*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.box{
    margin: 30px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

.box1{
    background-image: linear-gradient(242deg, orange , white, green)
}

.box2{
    background-image: radial-gradient(circle, orange,white,green);
}

.box3{
    border-radius: 60px;
    background-image: conic-gradient(orange,white,green,orange);
}

.box4{
    font-size: 28px;
    padding: 30px;
    background-image: linear-gradient(white,lightblue);
}

.box5{
    border: 1px solid green;

    width: 80%;
    height: 600px;

    background-image: url(https://media.cntraveler.com/photos/571945e380cf3e034f974b7d/16:9/w_2580,c_limit/waterfalls-Seljalandsfoss-GettyImages-457381095.jpg);
   background-size:cover ;

   background-repeat: no-repeat;
}

.box5 h1{
    font-family: 'Courier New';
    font-size: 60px;
    text-align: center;
    margin-top: 15px;
    color:rgb(0, 0, 0);
}

.container{
    height: 100vh;
   
    background:url('https://i.insider.com/5ad8fe2042e1cc60f93d43ae?width=1200&format=jpeg'),linear-gradient(#000000a3, rgba(0, 0, 255, 0.267)) ;

    background-blend-mode: overlay;
    background-size: cover;
    padding-top: 100px;
}

.container h1{
    font-family: cursive;
    color: white;
    text-align: center;
    
    width: 50%;
    margin: 20% auto;
}
