
{
    font-family: cursive;
    color: rgba(0, 0, 0, 0.753);
       box-sizing: border-box;
       margin:0;
       padding:0;
}

.box{
    background-color: pink;
    width : 200px;
    height: 200px;
    font-size: 25px;
    border-radius: 5% 10% 20% 30%;
    color: red;
    text-decoration: underline;

/*  margin-top:10px;
    margin-left:20px;
    margin-right:30px;
    margin-bottom:40px; */

    margin: 40px 30px 20px 10px;
    padding:10px 20px 30px 40px;

}

/* we can add height and width to only block tags*/ 

.h1{

   color: black;

}


.box1{
    width:400px;
    height: 400px;
    background-color: aquamarine;
    margin: auto;

    /* border-width: 5px;
    border-style: solid;
    border-color: blueviolet; */

    border: 5px dashed blueviolet;

    /* border-top-left-radius: 100px;
    border-top-right-radius: 100px; */

    border-radius: 50%;

}

.pic1{
  width: 200px;
  
  border:5px groove green;
  border-radius:20px;
}

.bx{
  width: 300px;
  height: 100px;
  border: 2px solide green;
  background-color: gainsboro;
  border-radius: 50px;
}


.pic2{
width: 400px;
border-radius: 10% 20%;
border: 15PX double black;
background-color: aqua;

}
