*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}

.head1{
    display: inline;
}

.head2{
    display: inline;
    width: 500px;
    height: 200px;
    background-color:blueviolet ;
}

.bold{
    display: block;
}

.small{
    display:block;
    width: 500px;
    height: 200px;
    border: 1px solid gray;
}

.box-block{
    margin: auto;
    width: fit-content;
    padding: 20px;
}

.box{
    display: inline-block;
    margin: auto 10px ;
    width: 200px;
    height: 250px;
box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    border-radius: 20px; */
    padding: 10px;
    border-radius: 10%;
    text-align: center;
    /* align-items: center; */

}